@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
a:visited {
	color:#84B5C2; /* Powder Blue by jacquelynfisher - colourlovers.com */
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
hr {
	border: 2px solid #C6A556; /* Gold Sofa by Penina - colourlovers.com */
}
body {
	text-align: center;
}
#heading {
	font-family: 'Oswald', sans-serif !important;
}
footer {
	font-style: italic;
}